# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-common
azure-core
azure-functions
fastapi
nest-asyncio
anyio
autopep8
idna
pycodestyle
pydantic
sniffio
starlette
toml
typing_extensions